
body {
    background-image: url("../../graphics/backgrounds/current/landing light.png");
    background-size: 1536px 1536px;
    background-repeat: no-repeat;
    background-position: center top;

    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center; 
    /* height: 100vh; */
    color: black;
}

.insignia{
    display: block;
    width: 50px;
    margin-left: 10px;
    margin-top: 10px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top: 225px;
}
.heading {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    margin-top: 85px;
}

.buttons{
    margin-top: 80px;
    position: relative;
    /* top: 25%;  */
    margin-left: auto;
    margin-right: auto;
    
}

.sail{
    background-image: url("../../graphics/icons/current/sail button (hq).png");
    background-size: 50px 75px;
    /* background: transparent; */
    width: 50px;
    height: 75px;
    background-repeat: no-repeat;
    border: none;
    margin-right: 150px;
    background-color:transparent;
}

.sell{
    background-image: url("../../graphics/icons/current/sell button (hq).png");
    background-size: 50px 68px;
    /* background: transparent; */
    width: 50px;
    height: 68px;
    background-repeat: no-repeat;
    border: none;
    background-color:transparent;
}



/* colors: 

            Lightest blue   #CAF0FF;
            Light blue      #78C4E6;
            Dark blue       #507fa5; 
            Darkest blue    #0e3b54;

            Light pink      #CAF0FF;

            */