
body {
    /* background image */
    background-image: url("../graphics/backgrounds/current/landing light.png");
    background-size: 1536px 1536px;
    background-repeat: no-repeat;
    background-position: center top;

    /* general doc settings */
    display: flex;
    flex-direction: column;
}

/* top left corner logo */
.insignia{
    width: 50px;
    margin-left: 10px;
    margin-top: 10px;
}

/* garage sailor in the middle of page */
.logo {
    margin-top: 225px;
    margin-left: auto;
    margin-right: auto;

    /* makes the logo responsive at on smaller screens */
    max-width: 500px;
    width: 80%;
    
}

/* one's trash */
.heading {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;

    /* makes the logo responsive at on smaller screens */
    max-width: 600px;
    width: 90%;
}

/* the wrapper for sell and sail buttons */
.buttons{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.sail{
    background-image: url("../graphics/icons/current/sail button (hq).png");
    background-size: 50px 75px;
    width: 50px;
    height: 75px;
    background-repeat: no-repeat;
    border: none;
    margin-right: 150px;
    background-color:transparent;
    cursor: pointer;
}

.sell{
    background-image: url("../graphics/icons/current/sell button (hq).png");
    background-size: 53px 70px;
    width: 53px;
    height: 70px;
    background-repeat: no-repeat;
    border: none;
    margin-top: 5px;
    background-color:transparent;
    cursor: pointer;
}




/* color palette for reference: 

            Lightest blue   #CAF0FF;
            Light blue      #78C4E6;
            Dark blue       #507fa5; 
            Darkest blue    #0e3b54;

            Light pink      #CAF0FF;
            dark pink       #E891BB;
*/
