
.insignia{
  display: block;
  width: 50px;
  margin-left: 18px;
  margin-top: 18px;
}

body {
  background-image: url("../../graphics/backgrounds/current/landing no sun.png");
  background-size: 1536px 1536px;
  background-repeat: no-repeat;
  background-position: center top;
  
}

.mapwrap{
  width: 650px;
  height: 650px;
  position: absolute;
  margin: 425px 50% 0 50%;
  background-color: transparent;
  z-index: 20;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  border-radius: 50%; 
}
.mapwrap:hover{
  background-color: rgb(255, 203, 227, .5);
  border-radius: 50%; 
}


/* .mapwrap{
  position: relative;
  width: 100%;
  height: 100%;
} */

/* .maplink{
  width: 650px;
  height: 650px; 
  color: black;
  
   margin-top: 105px; 
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%; 
  z-index: 20; 
  
}  */

/* #map:hover{
  color: rgb(255, 203, 227);
  color: rgb(255, 203, 227, .5);
} */

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map 
{
	/*height: 80%;
  width: 80%;*/
  position: absolute;
  /* width: 100%; */
  width: 650px;
  height: 650px;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);

  margin: 425px 50% 0 50%;
  /* margin: auto; */

  border-radius: 50%;
  z-index: 1;
}


#overlay 
{
  position: fixed;
  /*display: none;*/
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(202, 240, 255);
  background-color: rgb(202, 240, 255, .5);
  /* opacity: .5; */
  z-index: 2;
  cursor: pointer;
}

#text
{
  position: absolute;
  top: 356px;
  left: 50%;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: xx-large;
  /* opacity: 1; */
  color: #507fa5;
  width: 100%;
  /* height: 100%; */
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%); 
}


/* #overlay 
{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text
{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px sans-serif;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
} */

#sail_link
{
  text-align:center;
  display:block;
  margin: 1%;
  margin-bottom: 5%;
  width: 100%;
}

#sail-button 
{
    background-color: #FFCBE3;
    border: none;
    color: #0e3b54;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    border-style: solid;
    border-width: 3px;
    border-color: #507fa5;
    font-size: x-large;
    margin: 2px 1px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 15px; 
}

/* Optional: Makes the sample page fill the window. */
html, body 
{
	height: 100%;
	margin: 0;
	padding: 0;
}

