/* top left corner logo */
.insignia{
  display: block;
  width: 50px;
  margin-left: 18px;
  margin-top: 18px;
}

/* background image */
body {
  background-image: url("../../graphics/backgrounds/current/landing no sun.png");
  background-size: 1536px 1536px;
  background-repeat: no-repeat;
  background-position: center top;
}

/* circle link over map */
.mapwrap{
  width: 650px;
  height: 650px;
  position: absolute;
  margin: 425px 50% 0 50%;
  background-color: transparent;
  z-index: 20;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  border-radius: 50%; 
}
.mapwrap:hover{
  background-color: rgb(255, 203, 227, .5);
  border-radius: 50%; 
}

/* google map */
#map {
  position: absolute;
  width: 650px;
  height: 650px;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  margin: 425px 50% 0 50%;
  border-radius: 50%;
  z-index: 1;
}

/* loading page */
#overlay 
{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(202, 240, 255);
  background-color: rgb(202, 240, 255, .5);
  z-index: 2;
  cursor: pointer;
}
#text
{
  position: absolute;
  top: 356px;
  left: 50%;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: xx-large;
  color: #507fa5;
  width: 100%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%); 
}


