* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-top: 40px;
}
a{
    margin-left: auto;
    margin-right: auto;
}

.insignia{
    display: block;
    width: 50px;
    margin-left: 10px;
    margin-top: 10px;
}


body {
    background-image: url("../graphics/backgrounds/current/sailor empty (hq).png");
    background-size: 1366px 768px;
    background-repeat: no-repeat;
    background-position: right top;

    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center;
    text-align: center; */
    height: 100vh;
    color: black;
}

/* h1 {
    margin-bottom: 3rem;
    display: contents;
    justify-items: center;
    text-align: center;
} */

/* h2 {
    margin-bottom: 0.5rem;
    opacity: 0.6;
} */

/* .sailor {
    display: grid;
    align-items: center;
} */

.button {
    background-color: rgb(98, 114, 187);
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
textarea, select, input, button { 
    outline: none; 
}
  
/* .button:hover {
    background-color: rgb(43, 73, 209);
} */



.button-holder { 
    text-align: center;
}

/* Create three equal columns that floats next to each other */
.column {
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    display: inline-block;
    text-align: left;
    color: #507fa5;
}
#first-col {
    padding-left: 8.5px;
}

#last-col {
    padding-right: 4px;
  }

input[type="checkbox"] {
    visibility: hidden;
    margin: 0 2px 3px 0;
    width: 0px;
}

label {
    cursor: pointer;
}

input[type="checkbox"] + label:before {
    background: #CAF0FF;
    /* border: 1px solid #333; */
    content: "\00a0";
    display: inline-block;
    font: 16px sans-serif;
    color: #507fa5;
    height: 18px;
    margin: 0 5px 5px 0;
    padding-bottom: 0px;
    padding-left: 0 px;
    vertical-align: top;
    width: 18px;
    border-radius: 5px;
}

input[type="checkbox"]:checked + label:before {
    background: #CAF0FF;
    color: #507fa5;
    content: "\2713";
    text-align: center;
}

/* input[type="checkbox"]:checked + label:after {
    font-weight: bold;
} */
  
/* input[type="checkbox"]:focus + label::before {
      outline: rgb(59, 153, 252) auto 5px;
} */

.bigbox {
    background-color: #CAF0FF;
    border-style: solid;
    border-width: 5px; 
    border-color: #507fa5; 
    /* position: relative; */
    padding: 2%;
    border-radius: 10%;
    display: grid;
    /* margin-left: 12.75%; */
    margin-left: 65px;
    margin-top: 60px; 
}


.catbox {
    border-width: 3.5px;
    border-style: solid;
    border-color: #507fa5; 
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    padding-bottom: 8px;
    margin-bottom: 25px;
}



 ::placeholder { 
    /* border-style: solid;
    border-width: 5px;
    border-color: #507fa5;
    padding: 80px 0px;  */

    color: #0e3b54;
    /* padding-left: 24.5px; */
}
  
  /* Clear floats after the columns
.row:after {
    content: "";
    display: table;
    clear: both;
}  */

.categories {
    margin-left: 13.5px;
    padding-bottom: 20px;
    color: #0e3b54;
    font-size: x-large;
    align-content: flex-start;
}

.Address {
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 4px;
    align-self: baseline;
    font-size: x-large;
    margin-top: 0%;
    margin-left: 14px;
    margin-right: 14px;
    margin-bottom: 18px;
    padding: 3px 10px;
    border: 3px solid #507fa5; 
    border-radius: 15px;
}

.Date {
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 30px;
    align-self: baseline;
    font-size: x-large;
    margin-left: 14px;
    margin-right: 14px;
    border: 3px solid #507fa5;
    padding: 3px 10px;
    border-radius: 15px; 
}


.submit-button {
    background-color: #FFCBE3;
    border: none;
    color: #0e3b54;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    border-style: solid;
    border-width: 3px;
    border-color: #507fa5;
    font-size: x-large;
    margin: 2px 1px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 15px; 
}


/* CSS Styling for Loading Screen Overlay */
#overlay 
{
  position: fixed;
  /*display: none;*/
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(202, 240, 255);
  background-color: rgb(202, 240, 255, .5);
  /* opacity: .5; */
  z-index: 2;
  cursor: pointer;
}

#text
{
  position: absolute;
  top: 356px;
  left: 50%;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: large;
  /* opacity: 1; */
  color: #507fa5;
   transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%); 
}

/* 
#loadingbox{
    position: absolute;
    top: 50%;
    left: 50%;
    background: white;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #507fa5;
} */

/* colors: 

            Lightest blue   #CAF0FF;
            Light blue      #78C4E6;
            Dark blue       #507fa5; 
            Darkest blue    #0e3b54;

            Light pink      #CAF0FF;
            */
