
body {
    background-image: url("../graphics/backgrounds/current/landing light.png");
    background-size: 1536px 1536px;
    background-repeat: no-repeat;
    background-position: center top;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.insignia{
    display: block;
    width: 50px;
    margin-left: 10px;
    margin-top: 10px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    width: 80%;
    margin-top: 225px;
}

.heading {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    width: 90%;
    margin-top: 60px;
}

.home_wrapper{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.home{
    width: 60px;
    height: 75px;
    border: none;
    background-color:transparent;
}




/* colors: 

            Lightest blue   #CAF0FF;
            Light blue      #78C4E6;
            Dark blue       #507fa5; 
            Darkest blue    #0e3b54;

            Light pink      #CAF0FF;

            */
