* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center;
    text-align: center; */
    height: 100vh;
    color: black;
}

h1 {
    margin-bottom: 3rem;
}

h2 {
    margin-bottom: 0.5rem;
    opacity: 0.6;
}

.button {
    background-color: rgb(98, 114, 187);
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
  
.button:hover {
    background-color: rgb(43, 73, 209);
}

/* Create three equal columns that floats next to each other */
.column {
    column-width: 33.33%;
    padding: 10px;
    display: inline-block;
    text-align: left;
    color: #78C4E6;
  }

.catbox {
    background-color: rgb(51, 160, 136);
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 10px;
}

.bigbox {
    background-color: rgb(100, 100, 136);
    /* position: relative; */
    padding: 30px;
    border-radius: 25px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.support {
    margin-bottom: 10px;
    align-self: baseline;
}

.categories {
    font-size: medium;
    float: left;
}